@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    background: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 20px;

}

.slide {
    height: 80vh;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    flex: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;

}

.slide h3 {
    color: #fff;
    position: absolute;
    font-size: 54px;
    bottom: 20px;
    left: 20px;
    margin: 0px;
    opacity: 0;
}

.slide.active {
    flex: 10;

}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.6s;
    backdrop-filter: blur(5px);
}